.login-form {
    width: 400px;
}

.login-form__no-account {
    font-size: .8em;
    margin: .5em 0 2em 0;
}

.login-form__submit-button {
    display: flex;
    justify-content: flex-end;
}

.login-welcome-message {
    padding: 2em;
    text-align: center;

    p {
        color: var(--color-text-secondary);
    }

    .login-welcome-message__title {
        font-size: 1.5em;
        padding: .1em;
    }

    .login-welcome-message__spoken {
        font-size: .8em;
    }
}