.character-form {
    display: flex;
    flex-direction: row;
    gap: 5em;
    flex-wrap: wrap;
}

.character-form__loading {
    display: flex;
    justify-content: center;
}

.character-form__left,
.character-form__right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1em;
}

.character-form__abilities-row {
    display: flex;
    gap: 1em;
}

.character-from__controls {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}