.link {
    display: flex;
    white-space: pre;
    text-decoration: none;
}

.link--primary,
.link--primary:visited {
    color: var(--color-text-primary);
}

.link--primary:hover {
    color: var(--color-text-secondary);
}

.link--secondary,
.link--secondary:visited {
    color: var(--color-text-secondary);
}

.link--secondary:hover {
    color: var(--color-text-primary);
}