.pagination-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination-controls__current-page {
    width: 75px;
    text-align: center;
}