.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1em;
    background-color: var(--color-background);

    ul {
        list-style: none;
        font-size: 2em;
        text-align: center;
    }

    a {
        text-decoration: none;
    }
}

.sidebar__top {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.sidebar__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    a {
        display: flex;

        span {
            white-space: normal;
        }
    }
}