/* Note:
 * This file declares the base styling that applies to all form control components including styled fieldsets.
 * To use the base styled fieldsets the class selector "fieldset" has to be assigned. This is to be able to implement more styles in the future.
 */

.form-control {
    width: 100%;
    background-color: var(--color-primary-light);
    color: var(--color-text-primary);
    border: none;
    padding: .5em;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--color-accent);
    border-radius: 2px;
}

.form-control__label {
    color: var(--color-text-primary);
}

.form-control__label::after {
    content: ':';
}

.form-control__error-message {
    color: var(--color-error-dark);
    font-size: .75em;
    padding: .25em 0;
    transition: opacity .2s ease;
}

.form-control__error-message::before {
    content: '*'
}

.fieldset {
    border: none;
}

.fieldset__legend {
    font-size: 1.5em;
}

.fieldset__content {
    padding: 1em;
}

.fieldset__content-row {
    display: flex;
    gap: 1em;
}
