.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-primary);
}

.form-control-controls {
    display: flex;
    flex-direction: column;
}